.App {
    .header {
        height: 100px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
        position: fixed;
        top: 0px;
        z-index: 10;
    }

    .main {

        .left {
            background-color: rgba(255, 255, 255, 0.874);
            min-width: 300px;
            height: 100vh;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 9;
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
            padding: 200px 50px 50px 50px;
            box-sizing: border-box;

            .input-item {
                padding: 10px 0px 10px 0px;

                p {
                    margin: 0px;
                }
                .flex{
                    justify-content: space-between;
                    display: flex;
                    input {
                        max-width: 40px;
                    }
                }
            }

            .button {
                background-color: rgb(255, 198, 55);
                border-radius: 10px;
                padding: 10px;
                text-align: center;
                margin-top: 200px;
                cursor: pointer;
                user-select: none;
            }

            .button:hover {
                background-color: rgb(255, 217, 121);
            }
        }

        .right {
            .draw-area {
                position: relative;
                // border: black solid 1px;
                background-color: rgb(255, 255, 255);
                margin: auto;
                margin-top: calc(50vh - 200px);

                .grid-background {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                    z-index: 2;
                }

                .polygon {
                    background-color: rgb(116, 146, 172);
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}