.App {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .element-name {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 60px;
        height: 40px;
        z-index: 15;
        align-items: center;
        display: flex;
        justify-content: center;
        color: white;
        font-weight: 500;
        // border-bottom-left-radius: 10px;
    }
    .header {
        height: 80px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
        position: fixed;
        top: 0px;
        z-index: 10;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0px 100px 0px 100px;
        box-sizing: border-box;
        background-color: rgb(245, 245, 245);
        p{
            font-size: 25px;
            font-weight: bold;
            color: rgb(85, 85, 85);
        }
    }

    .main {
        height: 100vh;

        .left {
            background-color: rgba(245, 245, 245, 0.387);
            min-width: 300px;
            height: 100vh;
            position: absolute;
            top: 0px;
            // left: -308px;
            right: 100vw;
            z-index: 9;
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
            padding: 200px 50px 50px 50px;
            box-sizing: border-box;
            animation-duration: 0.5s;
            transition-duration: 0.5s;

            .left-bar-button{
                position: absolute;
                top: 100px;
                right: -50px;
                height: 30px;
                width: 30px;
                background-color: rgb(245, 245, 245);
                box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
                border-radius: 5px;
                cursor: pointer;
                svg{
                    display: block;
                    margin: auto;
                    height: 100%;
                }
            }
            .left-bar-button:hover{
                background-color: white;
            }

            .input-item {
                padding: 10px 0px 10px 0px;

                p {
                    margin: 0px;
                }

                .flex {
                    justify-content: space-between;
                    display: flex;

                    input {
                        max-width: 40px;
                    }
                }
            }

            .button {
                background-color: rgb(255, 198, 55);
                border-radius: 10px;
                padding: 10px;
                text-align: center;
                margin-top: 200px;
                cursor: pointer;
                user-select: none;
            }

            .button:hover {
                background-color: rgb(255, 217, 121);
            }
        }
        .left:hover{
            background-color: rgb(245, 245, 245);
        }
        .slide-right{
            transform : translate(308px, 0);
        }

        .middle {
            height: 100vh;
            padding-top: calc(50vh - 200px);
            .draw-area {
                position: relative;
                // border: black solid 1px;
                background-color: rgb(255, 255, 255);
                margin: auto;

                .element-name {
                    position: absolute;
                    top: 5px;
                    right: 4px;
                    width: 60px;
                    height: 40px;
                    z-index: 4;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    color: white;
                    font-weight: 500;
                    border-bottom-left-radius: 10px;
                }
                .grid-background {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                    z-index: 2;
                    border: 1px solid rgb(111, 111, 111);
                }

                .polygon {
                    position: absolute;
                    top: 1px;
                    left: 1px;
                    background-color: rgb(116, 146, 172);
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }

                .polygon-flag-field {
                    position: absolute;
                    top: 1px;
                    left: 1px;
                    z-index: 3;
                    width: 100%;
                    height: 100%;
                    .polygon-flag-item {
                        cursor: pointer;
                        position: absolute;
                        opacity: 0.6;
                        width: 100%;
                        height: 100%;
                    }
                    .polygon-flag-item:hover {
                        background-color: rgb(150, 150, 150) !important;
                    }
                }
            }
        }

        .right {
            background-color: rgba(245, 245, 245, 0.387);
            // opacity: 0.7;
            // min-width: 885px;
            height: 100vh;
            position: absolute;
            top: 0px;
            left: 100vw;
            z-index: 9;
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
            padding: 150px 50px 50px 50px;
            box-sizing: border-box;
            animation-duration: 0.5s;
            transition-duration: 0.5s;

            .right-bar-button{
                position: absolute;
                top: 100px;
                left: -50px;
                height: 30px;
                width: 30px;
                background-color: rgb(245, 245, 245);
                box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
                border-radius: 5px;
                cursor: pointer;
                svg{
                    display: block;
                    margin: auto;
                    height: 100%;
                }
            }

            th{
                font-size: 15px;
            }

            .right-bar-button:hover{
                background-color: white;
            }
        }
        .right:hover{
            background-color: rgb(245, 245, 245);
        }
        .slide-left{
            transform : translate(-890px, 0);
        }
    }

    .hidden {
        display: none;
    }
}